* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}


:root {
    --gradient: linear-gradient(45deg,
    #111111,
    #222222,
    #111111);

    --gradient-green: linear-gradient(45deg,
    #111111,
    #99ec2ce1,
    #111111);

    --gradient-green-reversed: linear-gradient(45deg,
    #99ec2ce1,
    #111111,
    #99ec2ce1);

    --gradient-dark-green: linear-gradient(45deg,
        /* #222222, */ #228010e1,
    #111111);

}

/*Title*/
@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

::-webkit-scrollbar {
    width: 15px;
    background: var(--gradient);
}

::-webkit-scrollbar-track {
    background: var(--gradient);
}

::-webkit-scrollbar-thumb {
    background: #99ec2ce1;
    border-radius: 15px;
    box-shadow: 0 0 20px 5px #99ec2ce1
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(82, 121, 32, 0.88);
    border-radius: 15px;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: var(--gradient);
    background-position: center;
    background-size: 250%;
    position: relative;
    animation: bg-animation 3s ease-in-out infinite alternate;
    background-attachment: fixed;
}

/*Navigation links*/
nav {
    display: flex;
    flex-direction: column;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;

}

@keyframes under {
    0% {
        text-decoration-color: var(--gradient);
    }

    50% {
        text-decoration-color: #99ec2ce1;
    }

    100% {
        text-decoration-color: var(--gradient);
    }
}

/*eSports Tracker*/
nav a {
    cursor: default;
    font-size: 70px;
    font-style: italic;
    text-decoration-color: #99ec2ce1;
    color: #fff;
    animation: under 2s ease-in-out infinite;
    transition: 500ms;
}

nav a:hover {
    cursor: default;
    text-decoration-color: rgb(255, 255, 255);
    transition: 500ms;
}

/*Navigation's*/
.nav-links {
    flex: 1;
    margin: 1em;
    text-align: right;
    font-style: italic;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 35px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 6px;
    background: #99ec2ce1;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* CARDS */
h1 {
    font-size: 3.5rem;
    font-weight: normal;
    color: white;
    text-align: center;
    margin: 0.5rem 0;
    position: relative;
}

span {
    transition: 100ms;
    cursor: default;
    caret-color: transparent;
}

span:hover {
    font-size: 1.025em;
    color: var(--gradient-dark-green);
    transition: 100ms;
    cursor: default;
    caret-color: transparent;
}

/*CARDS*/
:root {
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

.card-section {
    align-items: flex-start;
    animation: bg-animat\ion 3s ease-in-out infinite alternate;
    background-size: 150%;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 60%;
}

@media (min-width: 540px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 960px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    list-style: none;
    position: relative;
}

.card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
    transform: scale(1.1) translateZ(0);
    box-shadow: 0 0 20px 5px #99ec2ce1;
}

.card:hover .card__content {
    transform: scale(1.4) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0.5) contrast(1.2) blur(10px);
}

.card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
    transition: filter 200ms linear, transform 200ms linear;
}

.card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

/*ADMIN CARD*/
.card_admin {
    list-style: none;
    position: absolute;
}

.card_admin:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background__admin {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
}

.card_admin:hover .card__background__admin {
    /*transform: scale(1.1) translateZ(0);*/
    box-shadow: 0 0 20px 5px #99ec2ce1;
}

.card__content__admin {
    left: 0;
    padding: var(--spacing-l);
    position: relative;
    top: 0;
    transition: filter 200ms linear, transform 200ms linear;
}

.card__category__admin {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading__admin {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

.delete-btn {
    width: 100%;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #424242;
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: 250ms;
    color: white;
    text-decoration: none;
}

.delete-btn:hover {
    background: rgba(216, 38, 38, 0.88);
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(216, 38, 38, 0.88),
    0 0 10px rgba(216, 38, 38, 0.88),
    0 0 20px rgba(216, 38, 38, 0.88),
    0 0 50px rgba(216, 38, 38, 0.88);
    cursor: pointer;
    transition: 250ms;
    text-decoration: none;
}

.update-btn {
    width: 100%;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #424242;
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: 250ms;
    color: white;
    text-decoration: none;
}

.update-btn:hover {
    background: rgba(213, 210, 54, 0.88);
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(213, 210, 54, 0.88),
    0 0 10px rgba(213, 210, 54, 0.88),
    0 0 20px rgba(213, 210, 54, 0.88),
    0 0 50px rgba(213, 210, 54, 0.88);
    cursor: pointer;
    transition: 250ms;
    cursor: default;
}

.update-btn-a{
    width: 100%;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #424242;
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: 250ms;
    color: white;
    text-decoration: none;
}

.update-btn-a:hover {
    background: rgba(230, 81, 15, 0.88);
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(230, 81, 15, 0.88),
    0 0 5px rgba(230, 81, 15, 0.88),
    0 0 7px rgba(230, 81, 15, 0.88),
    0 0 10px rgba(230, 81, 15, 0.88);
    cursor: pointer;
    transition: 250ms;
    cursor: default;
}

.update-btn:hover > strong{
    color: black;

}


h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

h3 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    caret-color: black;
}

.input-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #99ec2ce1;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    caret-color: #99ec2ce1;
    resize: vertical;
}
.input-box label {
    position: absolute;
    top:0;
    left: 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    left: 0;
    color: black;
    font-size: 12px;
}



/* FOOTER */
footer {
    background: var(--gradient-green);
    background-size: 150%;
    animation: bg-animation 2s infinite alternate;
    font-size: 20px;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.row .author {
    text-align: left;
    padding-left: 1em;
}